* {
    text-decoration: none;
}
body{
    padding: 10px;
}
header{
    align-items: center;
}
nav{
  text-align: end;  
  margin-top: -30px;
  padding-bottom: 20px;
}
.produtor{
    
}
.login{
    padding-left: 25px;
    padding-right: 25px;
}
.signin{     
    width: 100px;
    height: 50px;
    left: 1180.94px;
    top: 19px;
    border-radius: 15PX;
    background-color: #53A0E8;
    border: none;
    font-size: larger;
}
#imgcentral{
    text-align: center;
}
.pagto{
    background-color: rgb(194, 194, 194);
}

.comprar{
    background-color: rgb(84, 196, 84);
}
#rodape{
    text-align: center;
}